In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import joblib

In [2]:
data1='C:\\Users\\Ajieh Daniel\\Desktop\\3mtt project End to End\\archive\\Social_Network_Ads.csv'

In [3]:
Adclick=pd.read_csv(data1)

In [4]:
Adclick.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
Adclick.head(20)

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15624510    Male   19            19000          0
1   15810944    Male   35            20000          0
2   15668575  Female   26            43000          0
3   15603246  Female   27            57000          0
4   15804002    Male   19            76000          0
5   15728773    Male   27            58000          0
6   15598044  Female   27            84000          0
7   15694829  Female   32           150000          1
8   15600575    Male   25            33000          0
9   15727311  Female   35            65000          0
10  15570769  Female   26            80000          0
11  15606274  Female   26            52000          0
12  15746139    Male   20            86000          0
13  15704987    Male   32            18000          0
14  15628972    Male   18            82000          0
15  15697686    Male   29            80000          0
16  15733883    Male   47            25000          1
17  15617482    Male   45            26000          1
18  15704583    Male   46            28000          1
19  15621083  Female   48            29000          1

In [6]:
print(Adclick.isnull().sum())

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
# Selecting Features and Target
X = Adclick[['Age', 'EstimatedSalary', 'Gender']]
y = Adclick['Purchased']

In [8]:
# Identify categorical and numerical features
categorical_features = [col for col in X.columns if Adclick[col].dtype == 'object']
numerical_features = [col for col in X.columns if Adclick[col].dtype != 'object']

In [11]:
# --- Preprocessing ---
# Label Encode categorical features
label_encoders = {}
for col in categorical_features:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])
    label_encoders[col] = le
joblib.dump(label_encoders, "label_encoders5.joblib")
print("✅ LabelEncoders5 saved successfully!")

✅ LabelEncoders5 saved successfully!

C:\Users\Ajieh Daniel\AppData\Local\Temp\ipykernel_23488\1776186182.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = le.fit_transform(X[col])

In [12]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
# Initialize and fit StandardScaler on training numerical features
scaler = StandardScaler()
numerical_cols_train = [col for col in numerical_features if col in X_train.columns]
X_train[numerical_cols_train] = scaler.fit_transform(X_train[numerical_cols_train])

# Transform test numerical features using the fitted scaler
numerical_cols_test = [col for col in numerical_features if col in X_test.columns]
X_test[numerical_cols_test] = scaler.transform(X_test[numerical_cols_test])

In [19]:
# ... (preprocessing steps) ...

print("Column order during training:")
print(X_train.columns)

# --- Model Training and Evaluation ---
# ... (train and evaluate models) ...

Column order during training:
Index(['Age', 'EstimatedSalary', 'Gender'], dtype='object')

In [15]:
from sklearn.neighbors import KNeighborsClassifier  # Import KNN
from sklearn.linear_model import LogisticRegression  # Import Logistic Regression
from sklearn.svm import SVC  # Import SVM
from sklearn.ensemble import RandomForestClassifier  # Import Random Forest
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [16]:
# --- Model Training and Evaluation ---
models = {
    'KNN': KNeighborsClassifier(n_neighbors=5),
    'Logistic Regression': LogisticRegression(random_state=42),
    'SVM': SVC(random_state=42),
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42)
}

best_model = None
best_accuracy = 0

print("--- Model Training and Evaluation ---")
for name, model in models.items():
    print(f"\nTraining {name}...")
    model.fit(X_train, y_train)

    # Evaluate on the test set
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy on Test Set: {accuracy:.4f}")
    print(f"{name} Classification Report:\n{classification_report(y_test, y_pred)}")
    print(f"{name} Confusion Matrix:\n{confusion_matrix(y_test, y_pred)}")

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model
        best_model_name = name

print(f"\n--- Best Model ---")
print(f"Best Model: {best_model_name} with Accuracy: {best_accuracy:.4f}")

--- Model Training and Evaluation ---

Training KNN...
KNN Accuracy on Test Set: 0.9250
KNN Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.92      0.94        52
           1       0.87      0.93      0.90        28

    accuracy                           0.93        80
   macro avg       0.91      0.93      0.92        80
weighted avg       0.93      0.93      0.93        80

KNN Confusion Matrix:
[[48  4]
 [ 2 26]]

Training Logistic Regression...
Logistic Regression Accuracy on Test Set: 0.8875
Logistic Regression Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.96      0.92        52
           1       0.91      0.75      0.82        28

    accuracy                           0.89        80
   macro avg       0.90      0.86      0.87        80
weighted avg       0.89      0.89      0.88        80

Logistic Regression Confusion Matrix:
[[50  2]
 [ 7 21]]

Training SVM...
SVM Accuracy on Test Set: 0.9250
SVM Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.92      0.94        52
           1       0.87      0.93      0.90        28

    accuracy                           0.93        80
   macro avg       0.91      0.93      0.92        80
weighted avg       0.93      0.93      0.93        80

SVM Confusion Matrix:
[[48  4]
 [ 2 26]]

Training Random Forest...
Random Forest Accuracy on Test Set: 0.8750
Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.90      0.90      0.90        52
           1       0.82      0.82      0.82        28

    accuracy                           0.88        80
   macro avg       0.86      0.86      0.86        80
weighted avg       0.88      0.88      0.88        80

Random Forest Confusion Matrix:
[[47  5]
 [ 5 23]]

--- Best Model ---
Best Model: KNN with Accuracy: 0.9250

In [18]:
# --- Save the Best Model, Scaler, and Label Encoders ---
joblib.dump(best_model, 'best_purchase_model6.joblib')
joblib.dump(scaler, 'feature_scaler6.joblib')
joblib.dump(label_encoders, 'label_encoders6.joblib')

print("\nBest model, scaler, and label encoders6 saved successfully!")

Best model, scaler, and label encoders6 saved successfully!